<h1>Multi Tenanat App with V1 End point</h1>
<h3> :: About Me ::</h3>

<table class="table table-sm">
  <tbody>
    <tr class="bg-primary">
      <th scope="row">Tenant Name : </th>
      <td>lorenzoshellscalemaca.onmicrosoft.com</td>
    </tr>
    <tr class="bg-success">
      <th scope="row">Tenant Id</th>
      <td>417041f7-f02a-4ea5-803d-1fa534e611bb</td>
    </tr>
    <tr class="bg-warning">
      <th scope="row">Client Id / Name </th>
      <td>f99d8651-c102-424a-bd7e-cca5d958ae34 / MultiTenantApp_B2C_V12</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row">Hosted on</th>
      <td>dca41web01.extranet.caloes.ca.gov\D$\Websites\Extranet\multitenantappb2cv1</td>
    </tr>
    <tr class="bg-info">
      <th scope="row">Internal URL</th>
      <td><a href="https://multitenantappb2cv1.extranet.caloes.ca.gov/"> https://multitenantappb2cv1.extranet.caloes.ca.gov</a>  </td>
    </tr>
    <tr class="bg-info">
      <th scope="row">External URL</th>
      <td><a href="https://multitenantappb2cv12-lorenzoshellscalemaca.msappproxy.net/"> https://multitenantappb2cv12-lorenzoshellscalemaca.msappproxy.net/ </a></td>
    </tr>
    <tr class="bg-info">
      <th scope="row">Redirect URL(s) Azure</th>
      <td>https://multitenantappb2cv1.extranet.caloes.ca.gov  / https://multitenantappb2cv12-lorenzoshellscalemaca.msappproxy.net/</td>
    </tr>
    <tr>
      <th scope="row">App Proxy</th>
      <td>None</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row">Notes</th>
      <td>
        Multi Tenanat App created with V1 End point. Tech Stack <br />
        DotNet Core 2.1, Angular 5 SPA (has only web app), MSAL <br />
        Enterprise applications > New Application > On-premises application.
      </td>
    </tr>
</table>
